extends layout
block content
            center
              h2 #{title}

                 .row
                    center
                      form(method='POST' action='/profile/edit/'+Profile._id)
                         label  Username :
                           input(type='text',name='Uname',value=Profile.UName)
                         br
                         label  Email    :
                           input(type='text',name='Email',value=Profile.EMail)
                         br
                         label  Password :
                           input(type='text',name='Pw',value=Profile.PW)
                         br
                         button.form-control(type='submit' name='submit') Submit