doctype html
head

             title sample
             meta(charset='utf-8')
             meta(name='viewport', content='width=device-width, initial-scale=1')
             <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
             script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
             script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
             <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
             <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
             <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
             script(src='https://maps.google.com/maps/api/js')
             <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
             <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

             style.
               a {
                    text-decoration: none;
                    color:white;
                    }
               .alert-success-msg{
                         color:#3c763d;
                         background-color:#dff0d8;
                         border-color:#d6e9c6;

                         }
               .alert-error{
                        color:#a94442;
                        background-color:#f2dede;
                        border-color:#ebccd1;
                        }
body
  nav.navbar.navbar(style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:100%!important;height:50px;Padding:5px;margin-bottom:0px!important;background-color:#993333;")
        .container-fluid
          .navbar-header(style='Padding:5px')
            a.navbar-brand(href='/',title='Home',data-toggle="popover",data-placement='bottom',style='padding:8px;')
                   b Welcome
            if user
                a.navbar-brand(href='/users/logout',title='Home',data-toggle="popover",data-placement='bottom',style='padding:8px;margin-left:1000px;')
                   b  Sign out
            else
                a.navbar-brand(href='/users/register',title='Home',data-toggle="popover",data-placement='bottom',style='padding:8px; margin-left:20px;')
                   b Sign Up
                a.navbar-brand(href='/users/login',title='Home',data-toggle="popover",data-placement='bottom',style='padding:8px;margin-left:900px;')
                   b  Sign in




body
  br

  !=messages('message',locals)
  block content

  hr
  footer
    p Copyright @copy 2018
