extends layout
block content
    br
    br
    br
    .row
       center
         h2 Login

            .row
               center
                  != messages('message',locals)

            .row
                 if(errors)
                    .row
                          .col-sm-12#err.box.inner.alert-danger(style="border-radius:4px;background-color:white;")
                             h5
                                i.glyphicon.glyphicon-alert
                                span &nbsp;&nbsp;There was a problem
                          .col-sm-12(stlyle="margin-left:20px;")
                               each error, i in errors
                                   ul(style="color:black;")
                                     li(style="font-size:11px;") #{error.msg}
    .row
       .col-sm-4.col-md-4.col-sm-offset-4.col-md-offset-4
          center
            .row
                form(method='POST' action='/users/login')
                   #form-group
                     label Username:
                      input.form-control(type='text',name='username')
                   #form-group
                     label password:
                      input.form-control(type='text',name='password')
                   br

                   .row
                       button.btn.btn-info(type='submit' value='submit') Submit