extends layout
block content
  .row
     center
        h4 Next page
        form(method='POST' action='/next')
           input(type='text', name='Name')
           button(type='submit' name='submit') submit
